<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-security-extras6">
<title>Listado de menús</title>
<main>
	<h1>Restaurante Spring Thymeleaf</h1>

	<form class="row justify-content-center" th:action="@{/cliente/pedir}"
		method="post">
		<ul class="col-auto list-group">
			<li class="list-group-item" th:object="${menu}"
				th:each="menu: ${menus}"><label
				class="form-check-label d-flex justify-content-between"><span><input
						class="form-check-input" type="checkbox" name="ids"
						th:value="*{id}"> <span th:text="*{nombre}">NOMBRE</span>:
				</span> <span class="ms-3"
					th:text="${#numbers.formatCurrency(menu.precio)}">PRECIO</span> </label></li>
			<li class="list-group-item"><button class="w-100 btn btn-primary">Pedir</button></li>
		</ul>

	</form>
</main>