<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Restaurante Spring Thymeleaf</title>
</head>
<body>
	<h1>Restaurante Spring Thymeleaf</h1>

	<ul>
		<li sec:authorize="isAuthenticated()">Usuario: <span sec:authentication="name">ANÓNIMO</span></li>
		<li sec:authorize="isAuthenticated()">Roles: <span
			sec:authentication="principal.authorities">NINGÚN ROL</span></li>
		<li sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="post">
				<button>Cerrar sesión</button>
			</form>
		</li>
		<li sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
			<a th:href="@{/admin/pedidos}">Listado Pedidos como administrador</a>
		</li>
		<li sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
			<a th:href="@{/admin/menus}">Listado Menus como administrador</a>
		</li>
	</ul>

	<form th:action="@{/cliente/pedir}" method="post">
		<ul>
			<li th:object="${menu}" th:each="menu: ${menus}"><input
				type="checkbox" name="ids" th:value="*{id}"> <span
				th:text="*{nombre}">NOMBRE</span>: <span th:text="*{precio}">PRECIO</span>
			</li>
		</ul>

		<button>Pedir</button>
	</form>

</body>
</html>