<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org">
<title>Inicio sesión</title>
<main>

	<th:block th:if="${param.error != null}">
		<div
			th:replace="~{_fragmentos :: alerta('Usuario o contraseña incorrectos', 'danger')}"></div>
	</th:block>
	
	<th:block th:if="${param.logout != null}">
		<div
			th:replace="~{_fragmentos :: alerta('Cierre de sesión correcto', 'success')}"></div>
	</th:block>

	<form th:action="@{/login}" method="post">
		<div
			th:replace="~{_fragmentos :: labelForm ('username', 'Correo electrónico', 'email') }">...</div>
		<div
			th:replace="~{_fragmentos :: labelForm ('password', 'Contraseña', 'password') }">...</div>

		<button type="submit" class="btn btn-primary">Iniciar sesión</button>
	</form>

</main>