<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org">
<title>Añadir nuevo video</title>
<main>
	<form method="post" th:action="@{/anadir-video}" th:object="${video}">
		<div class="row mb-3">
			<label for="titulo" class="col-sm-2 col-form-label">Título</label>
			<div class="col-sm">
				<input type="text" class="form-control" th:field="*{titulo}">
				<div class="text-danger" th:errors="*{titulo}"></div>
			</div>
		</div>
		<div class="row mb-3">
			<label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
			<div class="col-sm">
				<textarea class="form-control" th:field="*{descripcion}"></textarea>
				<div class="text-danger" th:errors="*{descripcion}"></div>
			</div>
		</div>
		<div class="row mb-3">
			<label for="imagenUrl" class="col-sm-2 col-form-label">Imagen</label>
			<div class="col-sm">
				<input type="text" class="form-control" th:field="*{imagenUrl}">
				<div class="text-danger" th:errors="*{imagenUrl}"></div>
			</div>
		</div>
		<div class="row mb-3">
			<label for="videoUrl" class="col-sm-2 col-form-label">Video</label>
			<div class="col-sm">
				<input type="text" class="form-control" th:field="*{videoUrl}">
				<div class="text-danger" th:errors="*{videoUrl}"></div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="offset-sm-2 col-sm">
				<button class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</form>
</main>