<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org">
<title>Edición de menú</title>
<main>
	<form th:action="@{/admin/menus/guardar}" method="post"
		th:object="${menu}">
		<input type="hidden" th:field="*{id}">

		<div
			th:replace="~{_fragmentos :: labelFormValidado ('nombre', 'Nombre', 'text') }"></div>
		<div
			th:replace="~{_fragmentos :: labelFormValidado ('precio', 'Precio', 'number') }"></div>
		<div
			th:replace="~{_fragmentos :: labelFormValidado ('descripcion', 'Descripción', 'textarea') }"></div>

		<button class="btn btn-primary">Guardar</button>
	</form>
</main>