<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pedidos Restaurante Spring Thymeleaf</title>
</head>
<body>
	<h1>Pedidos del Restaurante Spring Thymeleaf</h1>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Cliente</th>
				<th>Menú</th>
				<th>Precio</th>
			</tr>
		</thead>
		<tbody>
			<tr th:object="${pedido}" th:each="pedido: ${pedidos}">
				<th th:text="*{id}">1</th>
				<td th:text="*{cliente}">Pepe</td>
				<td th:text="*{menu}">Burguer</td>
				<td th:text="*{precio}">123</td>
			</tr>
		</tbody>
	</table>

</body>
</html>