<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org">
<title>Pedido</title>
<main>
	<h1>Pedidos del Restaurante Spring Thymeleaf</h1>

	<dl>
		<dt>Número de pedido</dt>
		<dd th:text="${pedido.id}">1</dd>
		
		<dt>Fecha</dt>
		<dd th:text="${#temporals.format(pedido.fechaHora, 'dd/MMM/yyyy HH:mm')}">2026-01-02</dd>
		
		<dt>Cliente</dt>
		<dd th:text="${pedido.cliente.nombre}">PEPITO</dd>
	</dl>

	<table class="table table-hover table-striped table-bordered">
		<thead class="table-secondary">
			<tr>
				<th>Menú</th>
				<th>Precio</th>
			</tr>
		</thead>
		<tbody>
			<tr th:object="${menu}" th:each="menu: ${pedido.menus}">
				<td th:text="*{nombre}">Burguer</td>
				<td th:text="*{precio}">123</td>
			</tr>
		</tbody>
	</table>
</main>
