<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org">
<title>Pedidos</title>
<main>
	<h1>Pedidos ACEPTADOS del Restaurante Spring Thymeleaf</h1>

	<div class="row row-cols-1 row-cols-md-3 g-4">
		<div class="col" th:object="${pedido}" th:each="pedido: ${pedidos}">
			<article class="card h-100">
				<h5 class="card-header"
					th:text="*{id} + ': ' + ${#temporals.format(pedido.fechaHora, 'dd/MMM/yyyy HH:mm')}"></h5>
				<dl class="card-body">
					<dt>Estado</dt>
					<dd th:text="*{estado}"></dd>


					<dt>Cliente</dt>
					<dd th:text="*{cliente}"></dd>

				</dl>

				<table class="table table-hover table-striped table-bordered">
					<thead class="table-secondary">
						<tr>
							<th>Menú</th>
							<th class="text-end">Precio</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="menu: ${pedido.menus}" th:object="${menu}">
							<td th:text="*{nombre}">Burguer</td>
							<td class="text-end"
								th:text="${#numbers.formatCurrency(menu.precio)}">123</td>
						</tr>
					</tbody>
				</table>

				<div class="card-footer">
					<a class="btn btn-primary w-100" href="#" th:href="@{/trabajador/pedidos/servir(id=${pedido.id})}">Servir</a>
				</div>
			</article>
		</div>
	</div>
</main>